@charset "UTF-8";

body {
    background: #ECF0F3;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 480px;
    margin: 80px auto;
}

/* タイトル */
h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #555;
}

/* 入力欄 */

.form-area {
    text-align: center;
    margin-top: 80px;
}

form p {
    margin-bottom: 32px;
}

/* --- リアルタイム重複チェック用の横並びスタイル --- */

/* ラベルとメッセージを横並びにする設定 */
.label-group {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;      
    gap: 6px;                  
}

/* メッセージ自体の見た目 */
.id-check-text {
    font-size: 13px;             
/*    font-weight: bold;          */
    display: inline-block;
    height: 18px;               
    line-height: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
	display: block;
	margin: 10px auto 15px auto;

    border: none;
    outline: none;
    border-radius: 10px;

    background: #ECF0F3;
    box-shadow: inset 4px 4px 8px #d1d9e6,
                inset -4px -4px 8px #ffffff;
}

/* エラーメッセージ */
.error {
    color: #ff4d4d;
    text-align: center;
    margin: 10px 0 20px;
    font-size: 16px;
	min-height: 96px;
}

/* エラー時の入力欄 */
.input-error {
    background-color: #ffeded !important; /* ほんのり薄い赤 */
    border: 1px solid #ff4d4d !important;  /* 枠線も少し赤くする */
}

/* ボタン */
input[type="submit"] {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 12px;
	display: block;
	margin: 20px auto;

    background: #ECF0F3;
    color: #4A6CF7;
    font-weight: bold;

    box-shadow: 4px 4px 8px #d1d9e6,
                -4px -4px 8px #ffffff;
    transition: 0.2s;

	cursor: pointer;
}

/* 押下 */
input[type="submit"]:active {
    box-shadow: inset 4px 4px 8px #d1d9e6,
                inset -4px -4px 8px #ffffff;
}

/* ステッパー */
.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
	margin-bottom: 64px;
}

/* ステップ全体 */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* アイコン丸 */
.icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ECF0F3;
    box-shadow: inset 3px 3px 6px #d1d9e6,
                inset -3px -3px 6px #ffffff;

    font-size: 18px;
}

/* SVGサイズ */
.icon img {
    width: 20px;
    height: 20px;
}

/* アクティブ */
.step.active .icon {
    background: #4A6CF7;
    color: white;

    box-shadow: 3px 3px 6px #d1d9e6,
                -3px -3px 6px #ffffff;
}

/* テキスト */
.label {
    margin-top: 6px;
    font-size: 12px;
    color: #888;
}

/* 線 */
.line {
    width: 60px;
    height: 4px;
    margin: 0 10px;

    background: #d1d9e6;
    border-radius: 2px;
	transform: translateY(-10px);
}

.line.active {
    background: #4A6CF7;
}

